<!-- <div *ngFor="let card of http_data">
    <h1>{{card.albumId}}</h1>
    <p>{{card.id}}</p>
    <p>{{card.title}}</p>
    <img [src] ="card.url">
    <pre></pre>
    <img [src]= "card.thumbnailUrl">
</div> -->
<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"></head>
<div class="mid-container">
 <div class="card" *ngFor="let card of http_data"> 
    <div class="info">
        <div class="profile-img">
            <img [src] ="card.url">
        </div>
        <div class="name"> {{card.id}} </div>
        <div class="role">{{card.title}} </div>
        <div class="icon">
            <a href= "https://www.facebook.com"><i class="fab fa-facebook-square"  matTooltipPosition="after" matTooltip= "Facebook" ></i></a>
            <a href={{card.twitter}} matTooltip= "Twitter"><i class="fab fa-twitter"></i></a>
            <a href={{card.linkedIn}} matTooltip= "LinkedIn"><i class="fab fa-linkedin"></i></a>
                 <!-- <span class="material-icons">
                    facebook
                    </span> -->
        </div>
    </div>  
 
 </div>
  </div>